<header>
  <img
    src="assets/img/thales-photo.jpg"
    alt="Thales Assis - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Thales Assis</h1>
</header>

<aside>
  <div class="container">
    <p>Full-Stack PHP | Laravel | Javascript | Angular | NodeJs</p>
    <p>Sobradinho, Brasília, Brasil</p>
    <p>
      Estou na área de desenvolvimento de software mais de 6 anos.
    </p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download Cv
          </a>
        </li>

        <li>
          <a
            href="https://www.linkedin.com/in/thalesa/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato do WhatsApp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5561983086742&text=Ol%C3%A1%20Thales!"
            target="_blank"
          >
            <strong>Envie uma menssagem para:</strong>
            <p>WhatsApp: (61) 9 8308-6742 </p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone para contato do e-mail"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:thales.assis08@gmail.com" target="_blank">
            <strong>Envie uma e-mail para:</strong>
            <p>thales.assis08&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
